@mixin backImage(
	
	$image,
	$bgAttachment: fixed,
	$bgPosition: center center,
	$gradDirection: to bottom,
	$opacityStart: 0,
	$opacityEnd: 0
	
	){

	background: linear-gradient(
	   $gradDirection,
		rgba(0,0,0,$opacityStart),
		rgba(0,0,0, $opacityEnd)
	), url($image);
		
		background-repeat:  no-repeat;
		background-position:  $bgPosition;
		background-attachment:  $bgAttachment; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	
}//backImage

@mixin clearfix {
	
	&:before,
	&:after{
		content:'';
		display:table;
		
	}//before, after
	&:after {
		clear: both;
	}//after
}//clearfix


@mixin  containerMaxed($variableWidth, $maxWidth){
	width: $variableWidth;
	max-width: $maxWidth;
	margin-left: auto;
	margin-right:auto;
}


