#dining{
	background-color:$light;
	padding:0;
	h1, h2{
		color:$red;
	}
	img{
		width:100%;
		@include border-radius(10px);
	}
	
	
	#areadining{
			padding:2rem;
		}
	
	
	@include breakpoint ($small){
		
		h1{
			font-weight: $thin;
			font-size: 2.5rem;
		}
		p{
			font-size: 1.5rem;
			line-height: 140%;
		}
	
		section{
			@include span(4 of 12);
			h2{
				font-size:1.2rem;	
			}
			p{
				font-size:1rem;
			}
		}//section
		#inhotel{
			@include clearfix;
		}
		}//media query
	
	#roomservice{
		margin-top:20px;
		@include background-image(linear-gradient(top, $light, lighten($yellow, 35)));
		border-top:1px solid $red;
		border-bottom:1px solid $red;
		h1{
			text-align: center;
		}
	}
}//#dining