header{
	.fullheight {
		@include backImage('../images/hotel/splash_hotelphoto.jpg');
		
		.hgroup{
			padding: 100px 0;
			
			h1{
				color:$light;
				font-size:5em;
				font-weight: $heavy;
				line-height:0.8em;
				@include text-shadow($dark 0 0 20px);
				text-align: center;
			}
			h2{
				display: block;
				color: $light;
				font-size:1.4em;
				background: rgba($trans, 0.5);
				width:60%;
				max-width: 280px;
				margin: 0 auto;
				text-align: center;
				border: 1px solid white;
				padding:10px;
				margin-top: 15px;
				
			}
			
			p{
				text-align:center;
				img{
					padding-top: 50px;
					max-width:50px;
				}
			}
		}//.hgroup
	}//fullheight
}//header 